extends ../layout

block content

  .page-header
    h3 Memories

  - var n = 0;
  each memory in user.memories
    - item = '' + memory.text
      p: n
        a.text-danger(href='/account/memory/forget/' + n++) x
        |  #{memory.text}

   
  form.form-horizontal(action='/account/memory', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-12
        input.form-control(type='text', name='memory', id='memory', placeholder='Next time, left at Albuquerque...')
    .form-group
      .col-sm-3
        button.btn.btn-primary(type='submit')
          i.fa.fa-plus
          | Add Memory

  p Upgrade Now

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    script(
    src='https://checkout.stripe.com/checkout.js',
    class='stripe-button',
    data-key=publishableKey,
    data-image='/img/elephant.svg',
    data-name='Jumbo Bot',
    data-description='Starter Subscription ($4.99/mo)',
    data-amount='499')
